<!DOCTYPE html>
{% include header.html %}

<body>
    {% include nav.html %}

    <div class="narrow">
        <main>
            <h1>Florida Palestine Network</h1>
            <h2>Until Total Liberation!</h2>
            <p style="margin-bottom: 0px;">Florida Palestine Network is a Palestinian woman founded and led organization struggling for the
                liberation of the Palestinian people and oppressed people everywhere.</p>

            <div class="container">
                <div class="column">
                    <h2>Next Event</h2>
                    {% assign next_event = nil %}
                    {% assign today_date = site.time | date: "%s" %}

                    {% for event in site.posts %}
                        {% if event.categories contains "event" and event.event-date %}
                            {% assign event_date = event.event-date | date: "%s" %}
                            {% if event_date > today_date %}
                                {% if next_event == nil %}
                                    {% assign next_event = event %}
                                {% else %}
                                    {% assign next_event_date = next_event.event-date | date: "%s" %}
                                    {% if event_date < next_event_date %}
                                        {% assign next_event = event %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if next_event %}
                        <a href="{{ next_event.url }}"><img class="image_post" src="{{ next_event.cover_image }}" alt="{{ next_event.title }} cover image"></a>
                        {% else %}
                        <p>No upcoming events.</p>
                    {% endif %}
                </div>

                <div class="column">
                    <h2>Latest Article</h2>
                    {% assign latest_article = site.posts | where: "categories", "article" | first %}
                    {% if latest_article %}
                        <a href="{{ latest_article.url }}"><img class="image_post" src="{{ latest_article.cover_image }}" alt="{{ latest_article.title }} cover image"></a>
                        {% else %}
                        <p>No articles available.</p>
                    {% endif %}
                </div>

                <div class="column">
                    <h2>Latest News</h2>
                    {% assign latest_news = site.posts | where: "categories", "news" | sort: "date" | reverse | slice: 0, 3 %}
                    {% for news in latest_news %}
                        <div class="news">
                            <a href="{{ news.link }}" target="_blank"><h4>{{ news.title }}</h4></a>
                            <p>{{ news.date | date: "%B %d, %Y" }}</p>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </main>
        {% include footer.html %}
    </div>
</body>

{% include nav.js %}

</html>