<!DOCTYPE html>
{% include header.html %}

<body>
    {% include nav.html %}

    <div class="narrow">
        <main>
            <h1>{{page.title}}</h1>
            <p style="margin-bottom: 40px;">Headlines about Palestine and the resistance from reputable sources around the world.</p>


            {% assign news = site.posts | where: "categories", "news" | sort: "date" | reverse %}
            {% for news in news %}
            <div class="news">
                <a href="{{ news.link }}" target="_blank">
                    <h3 style="margin-top: 0px; margin-bottom: 0px;">{{ news.title }}</h3>
                    <p style="margin-top: 0px; margin-bottom: 40px;"><em>{{ news.date | date: "%B %d, %Y" }}</em></p>
                </a>
            </div>
            {% endfor %}
        </main>
        {% include footer.html %}
    </div>
</body>

{% include nav.js %}

</html>